/* === Some styles to start you off! ===*/

body {
  background-color: black;
  height: 100vh;
  /*
    The url is a relative path to the image file
    from the **HTML** file, not the CSS file!
  */
  background-image: url("images/stars.jpg");
  color: white;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin: 0;
  padding: 1rem;
}

header,
footer {
  background: black;
}

header a {
  color: white;
}

nav {
  display: flex;
  flex-direction: row;
  gap: 1ch;
  justify-content: space-evenly;
  align-items: center;
  border: 5px solid green;
  height: 2rem;
}

nav a {
  border: 1px solid white;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: space-evenly;
  align-items: center;
}

.inner {
  flex-grow: 1;
}

.outer {
  flex-grow: 2;
}

.planets {
  display: flex;
}

main {
  border: 5px solid white;
  font-size: 10rem;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;

#earth {
  flex-grow: 1;
}

#jupiter {
  flex-grow: 1;
}

#mars {
  flex-grow: 1;
}

#saturn {
  flex-grow: 3;
}

footer {
  padding: 0.5rem;
  text-align: center;
}

/* === Write your styles below. === */
