* {
    margin: 0;
    padding: 0.5rem;
    font-family: 'Bahnschrift', sans-serif;
    background-color: iceblue;
    box-sizing: border-box;
}

header,
footer {
  color: white;
  font-size: 16px;
  background: rgb(175, 68, 68);
}

footer{
    position: absolute;
    bottom: 0;
    width: 100%;
}

header > p {
    font-size: 24px;
    text-align: center;
    padding: 1rem;
}

header a {
  color: black;
}

nav {
  display: flex;
  flex-direction: row;
  gap: 1ch;
  justify-content: space-evenly;
  align-items: center;
  height: 2rem;
}

nav > a {
  color: white;
  text-decoration: ;
  font-size: 14px;
}

nav > a:hover {
  text-decoration: underline;
  color: rgb(10, 29, 193);
}

main {
  border: 5px solid white;
  font-size: 14px;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  display: flex;
  flex-direction: column;
  gap: 1ch; /* or 10px */
}

ul > li {
  flex-grow: 1;
  gap: 1ch;
  align-items: left;
  color: white;
  background-color: rgb(198, 87, 87);
  border: 1px solid rgb(229, 196, 196);
  border-radius: 5px;
  padding: 10px;
}

.testimonial {
  font-style: italic;
  font-family: 'Bahnschrift Semibold', sans-serif;
  display: flex;
  flex-direction: column;
  gap: .5ch;
  justify-content: space-between;
  align-items: left;
  color: rgb(28, 17, 17);
  background-color: rgba(240, 128, 128, 0.226);
  border: 1px solid rgb(229, 196, 196);
  border-radius: 5px;
  padding: 5px;
}