p {
    font-family: sans-serif;
    font-size: 12px;
}

mark {
    background-color: #c3ddc3;
}

.subtitle {
    font-style: italic;
    color: gray;
}

#the-bamboo-cutter {
    border: 10px dotted green;
}